@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Patrick Hand', sans-serif;
}

button {
  font-family: 'Patrick Hand', sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

.header {
  height: 12rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  gap: 3%;
  align-items: center;
  font-size: 6rem;
  border-bottom: solid 1.5px;
}

.homeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70%;
  background-image: linear-gradient(200deg, white, rgb(255, 57, 57));
  gap: 4rem;
}

.play {
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: .6rem;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: solid 2px white;
  width: 629.453px;
}

.leaderboard {
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: .6rem;
  padding: 3rem;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  border: solid 2px white;
  
}

span {
  width: 413.453px;
}

.levelLeaderboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.leaderboardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}

.leaderboardUser {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  border-top: solid 1px;
  padding: 1rem;
  background-color: rgba(255, 57, 57, 0.205);
}

.leaderboardName {
  font-weight: bold;
  font-size: 1.6rem;
}

.leaderboardTime {
  font-size: 1.3rem;
  font-weight: bold;
}

.timeDiv {
  display: flex;
  flex-direction: column;
}


.waldoImg {
  height: 80%;
}

.levelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.levelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 62rem;
}

.levelAndCharacters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.headerCharacters {
  display: flex;
  gap: 1rem;
}

.currentLevel {
  font-size: 2rem;
}

.popUp {
  background-color: rgb(255, 57, 57);
  width: 12rem;
  /* height: 12rem; */
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: .6rem;
  overflow: hidden;
  cursor: pointer;
}

.popUp>div {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: .2rem;
  color: white;
  font-size: 1.4rem;

}

.waldoMap {
  position: relative;

}

.waldoMap > img {
  width: 1023.98px;
  height: 767.988px;
}

.hitSquare1 {
  position: absolute;
  background: blue;
  opacity: 0;
  width: 1.5rem;
  height: 5rem;
  top: 46%;
  right: 0px;
  left: 23%;
  bottom: 0px;
}

.hitSquare2 {
  position: absolute;
  background: blue;
  opacity: 0;
  width: 2.3rem;
  height: 3.7rem;
  top: 46%;
  right: 0px;
  left: 51.3%;
  bottom: 0px;
}

.hitSquare3 {
  position: absolute;
  background: blue;
  opacity: 0;
  width: 3rem;
  height: 4.5rem;
  top: 45.3%;
  right: 0px;
  left: 61%;
  bottom: 0px;
}

.hitSquare1-lvl2 {
  position: absolute;
  background: blue;
  opacity: 0.5;
  width: 3rem;
  height: 4rem;
  top: 81%;
  right: 0px;
  left: 14.5%;
  bottom: 0px;
}

.timePopUp {
  width: 50rem;
  height: 15rem;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timePopContainer {
  position: relative;
}

form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
}

.submit {
  width: 10rem;
  height: 2rem;
  background-color: rgb(255, 57, 57);
  border: none;
  border-radius: .6rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

h3 {
  margin-top: -1rem;
}

.close {
  position: absolute;
  top: .5rem;
  right: 1rem;
  font-weight: bold;
  color: rgb(82, 82, 82);
  font-size: 1.3rem;
  cursor: pointer;
}